body {
    background-color:rgb(131, 154, 228);
}
.main {
    text-align:center;   
}
.TE {
    color:#c09110;
    font-size:50px;
    font-weight:bold;
}
#students {
    font-style:bold;
    font-size:20px;
}